In [ ]:
# 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. 
# Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [11]:
from zoo import hours

hours()

Open 9-5 daily

In [5]:
# 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [15]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [ ]:
# 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
# As in 16.6, select and print the title column from the book table in alphabetical order.

In [5]:
import sqlalchemy
from sqlalchemy import create_engine, text

engine=create_engine('sqlite:///books.db')
# conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = "SELECT * FROM book ORDER BY title ASC;" 

with engine.connect() as connection:
    result=connection.execute(text(sql))
    rows=result.fetchall()
for row in rows:
    print(row)

('Perdido Street Station', 'China MiÃ©ville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Thud!', 'Terry Pratchett', 2005)